[run]
branch = True
source =
    admin
    api
    compliances
    dashboard
    docgen
    funds
    investee_companies
    investors
    manager_entities
    services
    transactions

[report]
show_missing = True
skip_covered = True
